body {
    font-family: Arial;;
    
}
header{background-color: #2424eb;}
.topo-do-site {
    background-color: #4da6ff;
    color: white;
    padding: 15px;   
}
.topo-do-site ul {
    list-style: none;
    margin-top: 10px;
}
.topo-do-site li {
    display: inline;
    margin: 0 10px;
}
.topo-do-site a {
    color: white;
    text-decoration: none;
}
.meiodosite {
    display: flex;
    padding: 20px;
}
.container {
    width: 65%;
}
.card {
    background-color: rgb(10, 119, 202);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 60%; 
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2, .card h3 {
    margin: 8px 0;
    font-size: 10px;
}

.card p {
    font-size: 15px;
    margin-bottom: 10px;
}


button {
    background-color: #4da6ff;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.direita {

    position: fixed;
    right: 20px;
    top: 100px;

    width: 250px;
    background-color: rgb(26, 121, 193);
    padding: 15px;
    border-radius: 8px;
}

.direita input {
    width: 80%;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.direita ul {
    list-style: none;
}



.direita a {
    text-decoration: none;
    color: #0202fc;
}
.rodape {
    background-color: #4da6ff;
    color: rgb(4, 12, 253);
    text-align: center;
    padding: 10px;
}